<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="col-md-12 sk-profile">
    <img src="../../assets/shakti_pic.jpg" style="width: 100%;margin-top: 20px;max-width: 112px;height: 112px;border-radius: 100px;background: #381d43;padding: 2px;display: block;
      margin-left: auto;
      margin-right: auto;">
    <!-- </br> -->
    <p class="about">
      <b>Shakti Tanwar</b>
      <!-- <br> -->
      <b>Microsoft Certified Trainer </b>
      <!-- </br> -->
      <b>CEO at Techpro Compsoft</b>
    </p>
  </div>
  <div class="col-md-12" style="margin: 0 2%">
    <p>
      <b>
        <i>Shakti Tanwar</i>
      </b> is a leading name amongst Top Corporate Trainers in India. He cleverly uses humour & sarcasm in his Corporate
      Trainings
      to very refreshingly impact teams.</p>
    <p>
      <b>Contact Us :</b> 9891971113</p>
    <p>
      <b>Email Id :</b> shakti@jobseeders.com</p>
    <p>
      <b>LinkedIn Id :</b> www.linkedin.com/in/shaktisinghtanwar</p>
  </div>
  <div class="col-md-12 sk-logo">
    <!-- <img src="img/jobseeders-logo.jpg" / style="border-radius: 5px;width: 100%;max-width: 140px;"> -->
    <br>
  </div>
</ion-content>